body {
    background-color: white;
    color: #333;
    font: 12px/18px "Helvetica Neue", Helvetica, arial, Verdana, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    height: auto !important;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
}

#content {
    margin: 50px auto;
    padding-bottom: 220px;
    min-height: 600px;
}

.container_12 {
    width: 960px;
    position: relative;
}

.bg_dotted {
    background: #fff url("/static/img/bg_dotted.png") 0 0 repeat;
    position: relative;
}

.bg_dotted .grid_12 {
    margin: 10px;
}

.container_12 .grid_12 {
    width: 940px;
}

.tab_menu > ul.tabs {
    position: relative;
    height: 25px;
    padding: 6px 10px;
    background: #42545e url(/static/img/tab_background.png) 0 0 repeat-x;
    border-radius: 5px;
    letter-spacing: 0.3px;
}

.tab_menu > ul.tabs li {
    list-style-type: none;
    margin: 0;
    display: inline-block;
}

.tab_menu > ul.tabs li a {
    float: left;
    margin-right: 12px;
    height: 26px;
    padding: 0 8px;
    line-height: 25px;
    font-size: 110%;
    color: #fff;
    -webkit-border-radius: 4px;
    cursor: pointer;

}

.tab_menu > ul.tabs li a.sel {
    position: relative;
    font-weight: bold;
    color: #333;
    background: #fff;
    border: 1px solid #506068;
    text-shadow: none;
}

.tab_menu > ul.tabs li a:hover {
    color: #000;
    background-color: #88969e;
    text-decoration: none;
    text-shadow: 0 1px 0 #a1b2bb;
}

.header_actions div.action.batchRemove {
    margin-left: 120px;
    background-position: 50% 1px;
    background-image: url(/static/img/icon_garbage.png);
}

.header_actions div.action, .header_actions div.icon_datatable {
    width: 48px;
    height: 30px;
    float: left;
    background-image: url(/static/img/icons_datatable.png?_=139971088316);
    background-repeat: no-repeat;
    cursor: pointer;
}

.header_datatable {
    background: transparent url("/static/img/header_upload_bg.png") 50% 50% repeat-x;
}

.header_datatable div {
    display: inline-block;
}

.header_datatable .table_title span.icon {
    width: auto;
    display: inline;
    padding: 11px 20px 9px;
    background-image: url(/static/img/icons_table_title.png);
    background-repeat: no-repeat;
    background-position: 0 -51px;
    cursor: default;
}

.header_actions .upload_icon {
    background: transparent url("/static/img/icons_datatable2.png-_=1.png") 50% -311px no-repeat;
}

.file-upload span.icon {
    background: transparent url(/static/img/icons_datatable2.png-_=1.png) 50% -373px no-repeat;
    width: 53px;
    height: 30px;
    position: relative;
    display: block;
    background-position: -7px -305px;
}

.file-upload .upload_icon input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    opacity: 0;
}

.header_actions .searchLens {
    width: 48px;
    height: 30px;
    float: left;
    background-image: url(/static/img/icons_datatable.png?_=139971088316);
    background-repeat: no-repeat;
    background-position: 10px -492px;
    cursor: pointer;
}

table.data_source_table {
    border-spacing: 0px;
}

table.data_source_table .ui-state-default {
    background: #e2e2e2 url(/static/img/ui-bg_highlight-soft_100_e2e2e2_1x100.png) 50% 50% repeat-x;
}

table.data_source_table thead th {
    height: 35px;
    padding: 3px 0 3px 10px;
    cursor: pointer;
    border: 1px solid #d4d3d3;
    font-weight: bold;
    color: #293a43;
}

table.data_source_table thead th div.DataTables_sort_wrapper {
    font-weight: normal;
    font-size: 12px;
    color: #555;
    padding-right: 18px;
    min-height: 20px;
}

.header_datatable div.table_title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #3a4e58;
    text-shadow: 0 1px 0 #fff;
    width: 70%;
}

.alert {
    display: none;
    text-align: right;
    padding: 2px 49px;
    border-radius: 3px;
}

.alert-success {
    color: green;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: darkred;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: red;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.fileload_content.toolbar_ui div {
    display: inline-block;
}

table.display {
    background: #f9f9f9;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
table.display thead th {
    padding: 3px 0 3px 10px;
    cursor: pointer;
    * cursor: hand;
    height: 35px;
    border: 1px solid #d4d3d3;
        font-weight: bold;
    color: #293a43;
}
table.display thead th span.space{
    color: red;
    margin-left: 20px;
}