<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据中心管理</title>

    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/xlsx.js"></script>
    <script src="/static/js/ProcessXlsFile.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/datatables.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/DB.css">
    <link rel="stylesheet" type="text/css" href="/static/css/datatables.min.css">
</head>
<body>
<div id="dbcenter_manage" class="wrapper dashboard">
    <div id="content" class="container_12">
        <div id="dashboard_content" style="display: block">
            <div class="bg_dotted">
                <div class="grid_12">
                    <div class="tab_menu">
                        <ul class="tabs">
                            <li><a original-title>数据源</a></li>
                        </ul>
                    </div>
                    <div id="source_wrapper" class="resource_wrapper wrapper" style="opacity: 1;display: block;">
                        <!--user space info-->
                        <div id="user_space" class="userSpace_wrapper" style="opacity: 1;display: block;">
                            <table class="display" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th><span>已用空间大小</span><span class="space used">[[used_space_size]](KB) &#8776 [[(used_space_size/1024).toFixed(2)]](MB)</span>
                                    </th>
                                    <th><span>剩余空间大小</span><span class="space left">[[left_space_size]](KB) &#8776 [[(left_space_size/1024).toFixed(2)]](MB) </span>
                                    </th>
                                    <th><span>总空间大小</span><span class="space total">[[total_space_size]](KB) &#8776 [[(total_space_size/1024).toFixed(2)]](MB) </span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="header_datatable no_select_text" style="user-select: none">
                            <div class="table_title">
                                <span class="icon"></span><span>数据源</span>
                            </div>
                            <div class="header_actions source_options">
                                <div class="action right batchRemove js-writer">
                                    <i class="icon-search tipsy-tooltip"></i>
                                </div>
                                <div class="searchLens">
                                    <i class="icon-search tipsy-tooltip"></i>
                                </div>
                                <div class="file-upload">
                                    <label class="upload_icon">
                                        <span class="upload_file icon"></span>
                                    </label>
                                </div>
                            </div>

                        </div>

                        <!--工具栏-->
                        <div class="toolbar">
                            <!--<div id="data_source_table_1_filter" class="search_content dataTables_filter toolbar_ui"-->
                            <!--style="display: none;">-->
                            <!--<input type="search" placeholder="用名称搜索" aria-controls="data_source_table_1">-->
                            <!--</div>-->
                            <div id="data_source_table_1_filter" class="dataTables_filter search_content toolbar_ui">
                                <label>
                                    "搜索:"
                                    <input type="text" id="sourceTable_search">
                                </label>
                            </div>
                            <div class="fileload_content toolbar_ui" style="display: none;">
                                <input type="text" class="q-value" v-model="dataType" placeholder="输入数据类型">
                                <input type="text" class="q-value" v-model="fileName" placeholder="输入文件名称">
                                <input type="button" value="开始上传">
                                <div class="alert"></div>
                            </div>
                            <div class="remove_content toolbar_ui" style="display: none;">
                                全选<input type="checkbox" v-model="delete_checkall" id="checkall" value="del_all">
                                <input type="button" value="删除" id="confirm_del">
                            </div>

                        </div>
                        <!--数据源表-->
                        <table id="data_source_table_1" class="data_source_table display" style="width: 100%;">
                            <thead>
                            <tr>
                                <th class="ui-state-default" rowspan="1"></th>

                                <th class="ui-state-default" rowspan="1">
                                    <div class="DataTables_sort_wrapper">
                                        文件名
                                        <span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span>
                                    </div>
                                </th>
                                <th class="ui-state-default" rowspan="1">上传日期</th>
                                <th class="ui-state-default" rowspan="1">targetName</th>
                                <th class="ui-state-default" rowspan="1">用户ID</th>
                                <th class="ui-state-default" rowspan="1">文件类型</th>
                                <th class="ui-state-default" rowspan="1">大小(Bytes)</th>
                            </tr>
                            </thead>
                        </table>
                        <!--单个数据文件表-->
                        <table id="single_table" class="display" style="display: none;"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>


    var dbcenter = new Vue({
        el: '#dbcenter_manage',
        delimiters: ['[[', ']]'],
        data: {
            dataTable: null,
            single_table: null,
            toolbar_visible: false,
            dataType: '',
            fileName: '',
            used_space_size: 0,
            left_space_size: 0,
            total_space_size: 0,
            userId: '',
            delete_checkall: false,
        },
        methods: {
            //返回网址request参数
            queryString: function(name) {
                var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)');
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            },
            promt_message: function(message, style, time) {

                style = (style === undefined) ? 'alert-success' : style;
                time = (time === undefined) ? 1200 : time;
                $('.toolbar .fileload_content .alert').addClass(style).html(message).show().delay(time).fadeOut();
            },
            init() {
                var that = this;
                var file_div = document.createElement('div');
                file_div.id = 'file_div';
                var inputNode = document.createElement('input');
                inputNode.type = 'file';
                inputNode.id = 'file';
                inputNode.style.visibility = 'hidden';
                file_div.appendChild(inputNode);
                document.getElementById('source_wrapper').appendChild(file_div);
                $('#file_div').on('change', '#file', function() {
                    var files = $('#file')[0].files;
                    var f = files[0];
                    var reader = new FileReader();
                    if (f.name.split('.')[1] !== 'mat') {
                        reader.readAsBinaryString(f);
                        reader.onload = function(e) {
                            var data = e.target.result;
                            xw(data, that.process_wb, f);
                        };
                    } else {
                        reader.readAsDataURL(f);
                        reader.onload = function(e) {
                            var data = e.target.result.split(',')[1];
                            that.process_mat(data, f);
                        };
                    }

                });

                this.userId = this.queryString('userId');

                //setting dataTable defaults
                $.extend(true, $.fn.dataTable.defaults, {
                    "scrollX": true,
                    language: {
                        processing: '加载中...',
                        info: '_PAGE_ of _PAGES_页',
                        paginate: {
                            first: '首页',
                            previous: '前一页',
                            next: '下一页',
                            last: '尾页',
                        },
                    },
                });

            },
            init_userSpace: function() {
                var that = this;
                var url = 'http://' + location.hostname + ':8090/clickhouse/userSpace';
                var data = {userId: this.userId};
                $.get(url, data, function(data) {
                    that.used_space_size = (data.used_space_size / 1024).toFixed(2);
                    that.total_space_size = (data.allowed_space_size / 1024).toFixed(2);
                    that.left_space_size = (data.left_space_size / 1024).toFixed(2);
                });
            },
            init_dataSource: function() {
                var that = this;
                this.dataTable = $('#data_source_table_1').DataTable({
                    'processing': true,
                    'ajax': {
                        url: 'http://' + location.hostname + ':8090/clickhouse/getIndex',
                        data: {'targetName': 'cloudpss.index', 'userId': this.userId},
                        type: 'get',
                        dataFilter: function(data) {
                            var json = $.parseJSON(data);
                            for (var i = 0; i < json.data.length; i++) {
                                json.data[i].unshift('');
                            }
                            return JSON.stringify(json);
                        },
                    },
                    'dom': 'rtip',
                    columnDefs: [
                        {
                            orderable: false,
                            className: 'select-checkbox',
                            targets: 0,
                            visible: false,
                        },
                        {
                            targets: 2,
                            render: function(data, type, row, meta) {
                                if (type === 'sort') {
                                    return new Date(data).getTime();
                                } else {
                                    return data.replace(/T/g, ' ').replace(/\Z/, '');
                                }
                            },
                        },
                        {
                            targets: 3,
                            visible: false,
                        }, {
                            targets: 1,
                            render: function(data, type, row, meta) {
                                return '<a href="javascript:void(0);" class="data_source_table_link" >' + data + '</a>';
                            },
                        }],
                    select: {
                        style: 'multi',
                        selector: 'td.select-checkbox',
                    },

                }).draw();

                if (this.delete_checkall !== '') {
                    this.dataTable.rows().select();
                } else {
                    this.dataTable.rows().deselect();
                }
                $('div.header_datatable ').show();
                $('div.toolbar').css('display', 'none');
                //    init checkbox
                $('#checkall').on('click', function() {
                    if (!that.delete_checkall) {
                        that.dataTable.rows().select();
                    } else {
                        that.dataTable.rows().deselect();
                    }
                });

            },
            process_mat: function(data, param) {
                var url = 'http://' + location.hostname + ':8090/clickhouse/doDataImport';
                var that = this;
                var data = {
                        data: data,
                        fileName: this.fileName,
                        size: param.size,
                        fullName: param.name,
                        lastModified: param.lastModified,
                        dataType: this.dataType,
                        userId: this.userId,
                    }
                ;
                jQuery.ajax({
                    dataType: 'json',
                    data: JSON.stringify(data),
                    url: url,
                    type: 'post',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        if (data.error_num == 0) {
                            that.promt_message('上传成功！');
                            that.dataTable.ajax.reload();
                            that.init_userSpace();
                        } else if (data.error_num == 1) {
                            that.promt_message('上传失败！', 'alert-danger');
                        } else {
                            that.promt_message('存储空间已满！', 'alert-warning');
                        }
                    },
                });

            },
            process_wb: function(wb, param) {
                //var output = JSON.stringify(to_json(wb));
                var that = this;
                var value = to_json(wb)[0];
                var url = 'http://' + location.hostname + ':8090/clickhouse/doDataImport';
                var data = {
                        data: JSON.stringify(value),
                        fileName: this.fileName,
                        size: param.size,
                        fullName: param.name,
                        lastModified: param.lastModified,
                        dataType: this.dataType,
                        userId: this.userId,
                    }
                ;
                console.log(data);
                $.post(url, data, function(resp) {
                    if (resp.error_num == 0) {
                        that.promt_message('上传成功！');
                        that.init_userSpace();
                        that.dataTable.ajax.reload();
                    } else if (resp.error_num == 1) {
                        that.promt_message('上传失败！', 'alert-danger');
                    } else {
                        that.promt_message('存储空间已满！', 'alert-warning');
                    }
                });
            },

        },
        mounted: function() {
            var that = this;
            this.init();
            //渲染空间表
            this.init_userSpace();
            //渲染数据源表
            this.init_dataSource();
            //点击菜单栏
            $('.tab_menu>.tabs li a').on('click', function(event) {
                $('div.dataTables_wrapper:visible').hide();
                if ($(this).text() == '数据源') {
                    $('div.header_datatable ').show();
                    $('div.toolbar').show();
                    $('#data_source_table_1_wrapper').show();
                }
            });
            //点击右上角工具栏
            $('.header_actions.source_options div').click(function(event) {
                that.toolbar_visible = !that.toolbar_visible;
                $('div.toolbar .toolbar_ui').hide();
                var clicked_type = $(this).attr('class');
                if (clicked_type.indexOf('searchLens') != -1) {
                    that.dataTable.columns([0]).visible(false);
                    $('div.toolbar').
                        css({display: that.toolbar_visible ? 'block' : 'none'});
                    $('div.toolbar .search_content').css('display', 'block');
                }
                if (clicked_type.indexOf('file-upload') != -1) {
                    that.dataTable.columns([0]).visible(false);
                    $('div.toolbar').
                        css({display: that.toolbar_visible ? 'block' : 'none'});
                    $('div.toolbar div.fileload_content').css('display', 'block');
                }
                if (clicked_type.indexOf('batchRemove') != -1) {
                    $('div.toolbar').
                        css({display: that.toolbar_visible ? 'block' : 'none'});
                    $('div.toolbar div.remove_content').css('display', 'block');
                    that.dataTable.column(0).visible(that.toolbar_visible);
                    $('input[name=\'ckb-jobid\']').click(function() {
                        if ($(this).is(':checked') == false) {
                            $('#checkall').
                                prop('checked', false);
                        } else {
                            var flag = true;
                            $('#checkall').prop('checked', true);
                            $('input[name=\'ckb-jobid\']').
                                each(function() {
                                    if (this.checked == false) {
                                        $('#checkall').prop('checked', false);
                                        flag = false;
                                        return;
                                    }
                                });
                        }
                    });

                }

            });
            //上传文件
            $('.fileload_content input[type="button"]').click(function() {
                if (that.dataType == '') {
                    alert('请输入数据类型！');
                } else if (that.fileName == '') {
                    alert('请输入文件名！');
                } else $('#file').click();
            });
            //删除文件
            $('#confirm_del').on('click', function() {

                var r = confirm('确定删除？');
                if (r) {
                    var delete_rows = that.dataTable.rows({selected: true}).data();
                    var del_list = [];
                    $.each(delete_rows, function(index, elem) {
                        del_list.push(elem[3]);
                    });
                    $.get('http://' + location.hostname + ':8090/clickhouse/deleteTable',
                        {'tablelist': JSON.stringify(del_list)}, function(data) {
                            if (data.msg == 'success') {
                                alert('删除成功！');
                                that.init_userSpace();
                                that.dataTable.ajax.reload();
                            } else alert('删除失败！');
                        });
                }

            });
            //点击单个文件链接
            $('#data_source_table_1 tbody').on('click', 'a.data_source_table_link', function() {
                var selectedOption = that.dataTable.row($(this).closest('tr')).data()[3];
                $('div.dataTables_wrapper').hide();
                $('div.header_datatable ').hide();
                $('div.toolbar').hide();
                $('#single_table').show();
                $.get('http://' + location.hostname + ':8090/clickhouse/getTable',
                    {'targetName': selectedOption, 'page': 0, 'pageSize': 1},
                    function(data) {
                        if (data.error_num != 1) {
                            if (that.single_table && that.single_table.data().length > 0) {
                                that.single_table.destroy();
                            }
                            $('#single_table').empty();

                            //create the title of table
                            var thead = document.createElement('thead');
                            var tr = document.createElement('tr');
                            thead.appendChild(tr);
                            that.columns = data.columns.map(function(elem) {
                                var th = document.createElement('th');
                                tr.appendChild(th);
                                th.textContent = elem;
                                return {'title': elem};
                            });
                            $('#single_table').append($(thead));
                            that.single_table = $('#single_table').DataTable({
                                'processing': true,
                                'serverSide': true,
                                'ajax': {
                                    url: 'http://' + location.hostname + ':8090/clickhouse/getTable',
                                    data: {'targetName': selectedOption, 'source': 'cloudSpace'},
                                    type: 'get',
                                },
                                'dom': 'rtip',
                            });
                        } else {
                            if (that.single_table && that.single_table.data().length > 0) {
                                that.single_table.destroy();
                                that.single_table.clear();
                            }
                            $('#single_table').empty();
                            var div = $('<div>该表格不存在或被删除</div>');
                            $('#single_table').append(div);
                        }

                    });

                $('#single_table').show();
                $('#single_table_wrapper').show();

            });
            //点击搜索栏
            $('#sourceTable_search').on('keyup click', function() {
                that.dataTable.column(1).search($(this).val()).draw();
            });
        },

    });

</script>
</html>